body {
  height: 3000px;
  padding-top: 60px;
  padding-left: 80px;
}
.header {
  color: white;
  background-color: black;
  position: fixed;
  left: 0;
  right: 0;
  right: 0;
  top: 0;
  height: 50px;
  z-index: 1;
}
.side-bar {
  background-color: green;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 50px;
  width: 72px;
}
.div1 {
  background-color: lightblue;
  height: 200px;
  width: 200px;
  position: static;
}
.div2 {
  background-color: lightpink;
  height: 200px;
  width: 200px;
  position: relative;
}

.absolute {
  background-color: red;
  position: absolute;
  color: white;
  right: 10px;
  bottom: 10px;
  z-index: 100;
}