.name1 {
  width: 100px;
  margin-right:1px;
  font-size: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
  border-color: grey;
  border-style: solid;
  border-width: 1px;
}
.name2 {
  width: 100px;
  margin-left: 0px;
  font-size: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
 
}
.email-bar {
  display:block;
  width: 210px;
  margin-top: 10px;
}
.sign-button {
  font-size: 16px;
  margin-top: 10px;
  width: 220px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(49, 102, 170);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}